.DS_Store
node_modules
/dist

# User
_*

# Arduino
.theia

# PHP
vendor/
.phpunit*

# local env files
.env.*
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# C/Cpp compilers
*.o
*.obj
*.so
*.dll
*.exe